.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Package Files #
*.jar
*.war
*.ear

# Java
*.class

# Eclipse(STS)
/.project
/.classpath
/.settings/
.springBeans

# Gradle
/gradle
gradlew
gradlew.bat
/build

# General
*.log
*.tmp
*.bak
/bin/
/target/
