<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>HELLGATE OPEN!!!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>WELCOME</h1>
  <p>Welcome to HELL!!!</p>
  <footer>
    <section>
    Timestamp
    <dl th:with="timezone=${T(java.time.ZoneId).of('Asia/Tokyo')},
        instant=${T(java.time.Instant).ofEpochMilli(timestamp)}">
      <dt>UTC ms</dt>
      <dd th:text="${timestamp}">UTC TIMESTAMP</dd>
      <dt>Instant</dt>
      <dd th:text="${instant}">instant</dd>
      <dt>ZoneDateTime</dt>
      <dd th:text="${instant.atZone(timezone)}">zone date time</dd>
    </dl>
    </section>
    <section>
      Boot log : <span th:text="${bootLog}">current boot log</span>
    </section>
  </footer>
</body>
</html>